<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-7 mrgnbtm">
      <h2>Create User</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row mb-2">
          <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name">
          </div>
        </div>
        <div class="row mb-2">
          <div class="form-group col-md-12">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Email">
          </div>
        </div>
        <button [disabled]="!userForm.valid" class="btn btn-danger">Create</button>
      </form>
    </div>
    <div class="col-md-4 mrgnbtm">
      <app-display-board [userCount]="userCount" (getUsersEvent)="getAllUsers()"></app-display-board>
    </div>
  </div>
</div>
<div class="mx-5">
  <hr>
</div>
<div class="mrgbtm">
  <app-users
    *ngIf="users.length !== 0"
    [users]="users">
  </app-users>
</div>
